<div id="<%= dom_id lifestyle_plan %>">
  <p>
    <strong>Daily routine items:</strong>
    <%= lifestyle_plan.daily_routine_items %>
  </p>

  <p>
    <strong>Seasonal practices data:</strong>
    <%= lifestyle_plan.seasonal_practices_data %>
  </p>

  <p>
    <strong>Spiritual practices items:</strong>
    <%= lifestyle_plan.spiritual_practices_items %>
  </p>

</div>
