<% content_for :title, "New lifestyle plan" %>

<h1>New lifestyle plan</h1>

<%= render "form", lifestyle_plan: @lifestyle_plan %>

<br>

<div>
  <%= link_to "Back to lifestyle plans", lifestyle_plans_path %>
</div>
