<% content_for :main_container_class, 'bg-base-200' %>

<div class="container mx-auto px-4 py-8">
  <div class="mb-4">
    <h1 class="text-2xl font-bold">Edit Social Post</h1>
  </div>

  <%= render "form", social_post: @social_post %>
</div>
