<div class="mt-5">
  <h1 class="font-bold text-4xl">Admin Dashboard</h1>

  <ul class="mt-5">
    <li><%= link_to "Users", admin_users_path, class: "text-blue-600 hover:underline", data: { turbo: true } %></li>
    <li><%= link_to "Food", admin_foods_path, class: "text-blue-600 hover:underline" %></li>
  </ul>

</div>
