<div class="card bg-base-100 card-border border-base-300">
  <div class="card-body">
    <h2 class=" card-title text-lg font-semibold">How do you reverse disease and return back to health?</h2>

    <div class="text-md">
      A combination of the right food, herbs, natural remedies, and lifestyle changes will help you heal naturally and gently from chronic illness.
    </div>

    <div class="text-md">
      Ayurveda has used food, herbs, and natural cures for over 5,000 years to heal chronic illnesses naturally and gently.
    </div>

    <ul class="steps mt-6">
      <li class="step step-primary">Food</li>
      <li class="step step-primary">Herbs</li>
      <li class="step step-primary">Natural Cures</li>
      <li class="step step-primary">Lifestyle</li>
    </ul>
  </div>
</div>
