<div class="text-xl font-semibold">
  Here are the best foods, herbs, cures, and lifestyle changes that will bring you back to health.
</div>

<!-- Dashboard Cards -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8 w-full">

  <!-- Best Foods Card -->
  <div class="card card-border bg-white">
    <figure>
      <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?auto=format&fit=facearea" alt="Cures" class="rounded-t-xl w-full h-64 object-cover" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Best Foods for You</h2>
      <div>These are foods recommended for your specific archetype. Make these foods the main part of your diet and watch your body naturally heal.</div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open cures modal -->
      </div>
    </div>
  </div>

  <!-- Foods to Avoid Card -->
  <div class="card card-border bg-white">
    <figure>
      <img src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a" alt="Foods to Avoid" class="rounded-t-xl w-full h-64 object-cover" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Foods to Avoid</h2>
      <div>These are foods that are aggravating for your particular archetype. Avoid these foods as much as possible to stay healthy.</div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open avoid-foods modal -->
      </div>
    </div>
  </div>

  <!-- Best Herbs Card -->
  <div class="card card-border bg-white">
    <figure>
      <img src="https://images.unsplash.com/photo-1533792344354-ed5e8fc12494" alt="Best Foods" class="rounded-t-xl w-full h-64 object-cover" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Best Herbs for You</h2>
      <div>The best herbs for your archetype. Add these to your daily routine to purify and strengthen your body.</div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open foods modal -->
      </div>
    </div>
  </div>

  <!-- Herbs to Avoid Card -->
  <div class="card card-border bg-white">
    <figure>
      <img src="https://plus.unsplash.com/premium_photo-1726138617688-e6bfd9f0de5c" alt="Herbs to avoid" class="rounded-t-xl w-full h-64 object-cover" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Herbs to Avoid</h2>
      <div>These herbs are aggravating to your particular archetype, and should be avoided.</div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open herbs modal -->
      </div>
    </div>
  </div>

  <!-- Best Cures Card -->
  <div class="card card-border bg-white">
    <figure>
      <img src="https://images.unsplash.com/photo-1571934811356-5cc061b6821f" alt="Best Cures" class="rounded-t-xl w-full h-64 object-cover" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Best Cures for You</h2>
      <div>The best cures for your archetype. Use these in an emergency when your Disease-Stage level is 3 or more.</div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open foods modal -->
      </div>
    </div>
  </div>

  <!-- Cures to Avoid Card -->
  <div class="card card-border bg-white">
    <figure>
      <img src="https://plus.unsplash.com/premium_photo-1673973119340-8bddc0991bc1" alt="Cures to avoid" class="rounded-t-xl w-full h-64 object-cover" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Cures to Avoid</h2>
      <div>These are cures that may work well for some people, but not for you, based on your particular archetype.</div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open herbs modal -->
      </div>
    </div>
  </div>

  <!-- Best Activities Card -->
  <div class="card card-border bg-white">
    <figure>
      <img src="https://images.unsplash.com/photo-1551632811-561732d1e306" alt="Best Activities" class="rounded-t-xl w-full h-64 object-cover" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Best Activities for You</h2>
      <div>These activities will stabilize your body's biological-energies and keep your mental health stable and peaceful.</div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open activities modal -->
      </div>
    </div>
  </div>

  <!-- Activities to Avoid Card -->
  <div class="card card-border bg-white">
    <figure>
      <img src="https://plus.unsplash.com/premium_photo-1679086008313-f67b823e0467" alt="Activities to Avoid" class="rounded-t-xl w-full h-64 object-cover" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Activities to Avoid</h2>
      <div>These activities are aggravating to your archetype, and engaging in them will bring you closer to disease. Avoid these as much as possible.</div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open activities modal -->
      </div>
    </div>
  </div>
</div>

<!-- Spiritual Advice Card -->
<div class="card card-side card-border bg-white">
  <figure>
    <img src="https://images.unsplash.com/photo-1465101046530-73398c7f28ca" alt="Spiritual Advice" class="rounded-l-xl w-full h-64 object-cover" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Spiritual Advice</h2>
    <div>Practice gratitude, daily journaling</div>
    <div class="card-actions justify-end">
      <button class="btn btn-accent" type="button">Learn more</button> <!-- TODO: open spiritual modal -->
    </div>
  </div>
</div>

