<div class="text-xl font-semibold mt-13 mb-5">
  Best Foods, Herbs, & Cures for You
</div>

<!-- Dashboard Cards -->
<div class="grid grid-cols-2 gap-x-8 gap-y-8 mb-8 w-full">
  <div class="card bg-base-100 w-full card-border border-base-300">
    <figure class="px-5 pt-5">
      <img
          src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?auto=format&fit=facearea"
          alt="Shoes"
          class="rounded-xl h-50 max-h-50 w-full object-cover" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">Healing Foods</h2>
      <p class="text-justify">Foods that heal your original nature, tested for over 5,000 years. The right food becomes medicine for your body. The wrong food becomes poison.</p>
      <div class="card-actions justify-start mt-6">
        <button class="btn btn-accent">Learn more</button>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 w-full card-border border-base-300">
    <figure class="px-5 pt-5">
      <img
          src="https://images.unsplash.com/photo-1533792344354-ed5e8fc12494"
          alt="Shoes"
          class="rounded-xl h-50 max-h-50 w-full object-cover" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">Healing Herbs</h2>
      <p class="text-justify">
        The best herbs for your original nature. Add these to your daily routine to purify and strengthen your body.
      </p>
      <div class="card-actions justify-start mt-6">
        <button class="btn btn-accent">Learn more</button>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 w-full card-border border-base-300">
    <figure class="px-5 pt-5">
      <img
          src="https://images.unsplash.com/photo-1571934811356-5cc061b6821f"
          alt="Shoes"
          class="rounded-xl h-50 max-h-50 w-full object-cover" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">Best Cures for You</h2>
      <p class="text-justify">
      The best cures for your original nature. Use these when your <span class="font-semibold">Disease Stage Level is 3</span> or more.
      </p>
      <div class="card-actions justify-start mt-6">
        <button class="btn btn-accent">Learn more</button>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 w-full card-border border-base-300">
    <figure class="px-5 pt-5">
      <img
          src="https://images.unsplash.com/photo-1551632811-561732d1e306"
          alt="Shoes"
          class="rounded-xl h-50 max-h-50 w-full object-cover" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">Best Activities for You</h2>
      <p class="text-justify">
        These activities will stabilize your body's biological-energies and keep your mental health stable and peaceful.
      </p>
      <div class="card-actions justify-start mt-6">
        <button class="btn btn-accent">Learn more</button>
      </div>
    </div>
  </div>
</div>
