<div class="card card-border bg-white">
  <div class="card-body">
    <h2 class="card-title text-xl font-semibold">Are you experiencing any of these symptoms?</h2>

    <div class="flex gap-8">
      <div class="text-lg w-64 flex-1">
        Enter all symptoms you are experiencing and Chronic Healer will create your customized natural healing plan.
      </div>

      <div class="join w-96 flex-1">
        <input type="text" placeholder="Type your symptoms here..." class="join-item input input-bordered bg-white w-full flex-grow" />
        <button class="join-item btn btn-neutral">Analyze</button>
      </div>
    </div>
  </div>
</div>
