<!-- Symptom Experience Card -->
<div class="card bg-white card-border mb-8">
  <div class="card-header border-b border-base-200 p-5 rounded-t-lg">
    <h2 class="text-xl font-semibold">Common Symptoms for your Original Nature</h2>
  </div>
  <div class="card-body">
    <!-- Stages of Disease Table/Chart -->

    <p class="text-lg">
      These are the six stages of disease most common to your original nature. You can determine what stage of disease you are currently in by tracking your symptoms.
    </p> 

    <%= render 'symptoms_table' %>
  </div>
</div>
