<div class="w-full card card-border bg-primary border-base-300">
  <div class="card-body flex flex-col">
    <div class="text-center">
      <h3 class="mt-2 text-xl font-black text-white tracking-wider">Save Your Results</h3>
      <p class="text-md mt-3 text-white">Sign up with an email and password to save your health results.</p>
    </div>
    <div class="flex flex-col gap-2 mt-3 w-full">
      <input type="email" class="input input-bordered w-full" placeholder="Email" />
      <input type="password" class="input input-bordered w-full mt-3" placeholder="Password" />

      <div class="form-control mt-3">
        <label class="label cursor-pointer">
          <span class="label-text text-white">Send me my health report.</span>
          <input type="checkbox" checked="checked" class="checkbox checkbox-primary" />
        </label>
      </div>

      <button class="btn btn-accent w-full mt-3" type="button">Sign up</button>
    </div>
  </div>
</div>
