<% content_for :main_container_class, "flex items-center justify-center" %>

<div class="text-center">
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
    Welcome to 
    <span class="text-4xl font-bold bg-gradient-to-r to-secondary from-primary bg-clip-text text-transparent sm:text-6xl tracking-tight">
      Ancient Herb
    </span>
  </h1>

  <div class="max-w-2xl mt-9 mx-auto">
    <p class="mt-6 px-5 text-xl leading-8 text-primary-content">
    I help you heal naturally from chronic health problems using the 5,000-year-old science of 
    <span data-tip="<%= @ayurveda_tooltip_text %>" class="tooltip text-2xl font-semibold bg-gradient-to-r to-accent from-primary bg-clip-text text-transparent tracking-wider wavy-text">
      Ayurveda
    </span>
    to heal your body and mind, using just <span class="font-semibold">food</span>, <span class="font-semibold">herbs</span>, and <span class="font-semibold">natural cures</span>.
    </p>
  </div>

  <div class="mt-10 flex items-center justify-center">
    <% if Current.user&.prakruti_entry.present? %>
      <%= link_to "Dashboard", dashboard_path, class: "btn btn-primary text-white text-lg" %>
    <% else %>
      <%= link_to "🌿 Get started", start_prakruti_assessment_path, class: "btn btn-primary text-white text-lg" %>
    <% end %>
  </div>
</div>
