<div class="bg-base-100 rounded-lg p-4 space-y-2 mb-4">
  <div class="flex justify-between items-center">
    <div class="font-bold text-lg"><%= healing_plan_log.date.strftime("%b %d, %Y") %></div>
    <div><%= healing_plan_log.completed_at ? '✅ Completed' : '❌ Incomplete' %></div>
  </div>
  <div class="text-sm text-gray-600">
    <span class="font-semibold">Description:</span>
    <%= healing_plan_log.journal_entry&.first(15)&.concat("...") %>
  </div>
  <div>
    <%= link_to "Show Details", my_healing_plan_path(date: healing_plan_log.date), class: "btn btn-secondary btn-xs" %>
  </div>
</div>
