<div id="<%= dom_id book %>">
  <div class="card card-border bg-base-100 w-96">
    <div class="card-body">
      <h2 class="card-title"><%= book.title %></h2>

      <div class="flex flex-row items-center">
        <small><span class="italic text-gray-500 text-sm">Category: <%= book.category %></span></small>
        <p><%= book.description %></p>

      </div>
    </div>
  </div>
</div>
