<turbo-frame id="main_content_area" class="w-1/2 mx-auto flex items-center justify-center">
  <div class="flex flex-col">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% content_for :title, "Books" %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Books</h1>
    </div>

    <div id="books" class="min-w-full">
      <% @books.each do |book| %>
        <div class="flex flex-row items-center">
          <%= render book %>
          <div class="card-actions justify-end">
            <%= link_to "Show this book", book, class: "btn btn-sm btn-secondary text-sm" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex flex-row justify-center w-full mt-7">
      <%= link_to "New book", new_book_path, class: "btn btn-primary text-white w-1/2" %>
    </div>
  </div>
</turbo-frame>
