<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Healing plans" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Healing plans</h1>
    <%= link_to "New healing plan", new_healing_plan_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="healing_plans" class="min-w-full">
    <% @healing_plans.each do |healing_plan| %>
      <%= render healing_plan %>
      <p>
        <%= link_to "Show this healing plan", healing_plan, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
