<div id="<%= dom_id chronic_illness %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= chronic_illness.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= chronic_illness.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Icon:</strong>
    <%= chronic_illness.icon %>
  </p>

</div>
