<div id="<%= dom_id chronic_illness %>" class="flex items-center space-x-4">
  <%= link_to start_prakruti_assessment_path(chronic_illness_id: chronic_illness.id), data: { turbo: false } do %>
    <div class="flex flex-col items-center w-24 h-34">
      <% if chronic_illness.icon.present? %>
        <%= image_tag "icons/#{chronic_illness.icon}", alt: chronic_illness.name, class: "w-full" %>
      <% end %>

      <span class="text-sm font-semibold font-gray text-gray-600 text-center mt-2">
        <%= chronic_illness.name %>
      </span>
    </div>
  <% end %>
</div>
