<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing chronic illness</h1>

  <%= render "form", chronic_illness: @chronic_illness %>

  <%= link_to "Show this chronic illness", @chronic_illness, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to chronic illnesses", chronic_illnesses_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
