<turbo-frame id="assessment_frame">
  <% content_for :main_container_class, 'w-full h-full flex justify-center items-stretch bg-base-200' %>

  <%= form_with(url: health_assessment_submit_answers_path(@health_assessment), method: :post) do |form| %>
    <div class="w-full flex flex-col items-center p-8">
      <% content_for :title, "Chronic illnesses" %>

      <div class="text-center mb-8">
        <h1 class="font-bold text-2xl mb-5 mt-3">What chronic issues do you want to focus on?</h1>
        <span class="italic text-sm text-gray-400">You can choose multiple.</span>
      </div>

      <div
          id="chronic_illnesses"
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full gap-x-0 gap-y-24 sm:gap-x-9 sm:gap-y-24 md:gap-x-20 md:gap-y-24 lg:gap-x-20 lg:gap-y-24 justify-items-center">

        <% @chronic_illnesses.each do |chronic_illness| %>
          <div>
            <%= render partial: 'chronic_illnesses/chronic_illness', locals: { chronic_illness: chronic_illness, form: form } %>
          </div>
        <% end %>
      </div>

      <div class="mt-20">
        <%= form.submit "Next", class: "btn btn-lg btn-primary text-white" %>
      </div>
    </div>
  <% end %>
</turbo-frame>
