<!-- Card 5: Balanced State -->
<div class="card bg-base-100 border border-gray-300">
  <div class="card-body">
    <h2 class="card-title text-lg">Balanced State</h2>
    <div class="grid grid-cols-1 gap-4">
      <div>
        <h3 class="font-semibold text-md">When in Balance</h3>
        <p><%= t("doshas.#{Current.user.prakruti.name.downcase}.in_balance") %></p>
      </div>
      <div>
        <h3 class="font-semibold text-md">When Unbalanced</h3>
        <p><%= t("doshas.#{Current.user.prakruti.name.downcase}.out_of_balance") %></p>
      </div>
    </div>
  </div>
</div>
