<% content_for :main_container_class, 'w-full bg-base-200 min-h-full' %>

<div class="drawer lg:drawer-open min-h-full">
  <%= render 'sidebar' %>
  <div class="drawer-content flex flex-col min-h-full">
    <div class="flex-1 overflow-y-auto lg:overflow-hidden px-4 py-4">
      <%= render 'dashboard_content' %>
    </div>
  </div>
</div>
