<% content_for :main_container_class, 'w-full flex-1 flex justify-center items-stretch bg-base-200 px-4' %>

<div class="drawer lg:drawer-open">
  <%= render 'sidebar' %>
  <%= render 'dashboard_content' %>
</div>
