<% content_for :vite_page, true %>
<% content_for :hide_footer, true %>

<!-- Dashboard Content -->
<div id="dashboard-root" class="w-full h-screen bg-gray-900 m-0 p-0" data-props="<%= @dashboard_props.to_json.gsub("'", "&#39;") %>"></div>
