<turbo-frame id="assessment_frame">
  <div class="card w-full max-w-lg mx-auto bg-base-100 border border-gray-300 mt-9 mb-8">
    <div class="card-body">
      <h2 class="card-title text-lg">Reason for Visit</h2>
      <p class="italic text-sm text-gray-500">
      Tell us about your condition — when it began, how long you’ve had it, what seems to trigger it, and what helps you feel better. Every detail helps us build the perfect healing plan for you.
      </p>
      <%= form_with(
        url: health_assessment_submit_answers_path(@health_assessment),
        method: :post,
        data: { turbo: true }
      ) do |form| %>
      <div class="form-control w-full">
        <%= form.label :reason_for_visit, "What is the main reason for your visit today?", class: "label mt-4" %>
        <%= form.rich_text_area :reason_for_visit, class: "textarea textarea-bordered", placeholder: "e.g., I have trouble sleeping and low energy.", style: "height: 20rem;" %>
      </div>
      <div class="card-actions justify-end mt-4">
        <%= form.submit "Submit Reason", class: "btn btn-primary text-white" %>
      </div>
    <% end %>
    </div>
  </div>
</turbo-frame>
