<% content_for :main_container_class, 'w-full flex-1 bg-base-200 p-8' %>

<turbo-frame id="assessment_frame">

  <div class="card w-full max-w-lg mx-auto bg-base-100 border border-gray-300">
    <div class="card-body">
      <h2 class="card-title text-lg">"Original Nature" Blueprint</h2>
      <p class="text-md">
      Your Original Nature is the KEY to understanding how to go from a state of chronic illness to a state of constant health. Ayurveda calls your "Original Nature" the energetic blueprint that forms the foundation for your body, mind, and soul.
      </p>

      <%= button_to "Start Assessment", start_assessment_path(format: :turbo_stream), 
        method: :get,
        data: { turbo_frame: "assessment_frame" }, 
        class: "btn btn-primary w-full text-white",
        form: { class: "inline" } %>
    </div>
  </div>
</turbo-frame>
