<p style="color: green"><%= notice %></p>

<% content_for :title, "Herbs" %>

<h1>Herbs</h1>

<div id="herbs">
  <% @herbs.each do |herb| %>
    <%= render herb %>
    <p>
      <%= link_to "Show this herb", herb %>
    </p>
  <% end %>
</div>

<%= link_to "New herb", new_herb_path %>
