<div id="<%= dom_id healing_plan_food %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Healing plan:</strong>
    <%= healing_plan_food.healing_plan_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Food:</strong>
    <%= healing_plan_food.food_id %>
  </p>

</div>
