<!-- Main Navigation Links (visible on desktop navbar only) -->
<% if authenticated? %>
  <li><%= link_to "Dashboard", dashboard_path, class: nav_link_class(dashboard_path) %></li>
  <li><%= link_to "Healing Plan", my_healing_plan_path, class: nav_link_class(my_healing_plan_path) %></li>
<% end %>
<li><%= link_to "Community", community_path, class: nav_link_class(community_path) %></li>
<% if Rails.env.development? %>
  <li><%= link_to "Classroom", "#", class: nav_link_class(lifestyle_plans_path) %></li>
<% end %>

